{% extends 'base.html' %}
{% block content %}
<div class="main-container">
    <!-- flash 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <!--가게-->
    <div class="store" style="cursor: pointer;">
        <label class="store-name">{{ store.store_name }}  </label>
        <a href="javascript:void(0)" data-uri="{{ url_for('store.vote', store_id=store.id) }}"
           class="recommend btn btn-sm"> 💖
            <span class="badge rounded-pill bg-success">{{ store.voter|length }}</span>
        </a>
        <br>
        <br>
        <label>최소주문 </label>
        <label class="store-deliver">{{ store.min_order }}</label>
        <label>원, 배달팁 </label>
        <label class="store-deliver">{{ store.deliver }}</label>
        <label>원</label>
        <br>
        <br>
        <label class="store-intro">{{ store.store_intro }}</label>
    </div>
    <div class="my-3">
        {% if g.user == store.user %}
        <div class="store-modify">
            <button type="button" method="post" class="modify" onclick="location.href='{{ url_for('my.modify', store_id=store.id) }}'; " >수정</button>
            <button type="button" method="post" class="delete" onclick="location.href='javascript:void(0)'; " data-uri="{{ url_for('my.delete', store_id=store.id) }}" >삭제</button>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <!--메뉴-->
    {% for menu in store.menu_set %}
    <div class="menu-list">
        <label class="menu-name">{{ menu.menu_name }}</label>
        <label>  </label>
        <label class="menu-price">{{ menu.price }}</label>
        <label>원</label>
        <br>
        <br>
        {% if g.user == menu.user %}
        <div class="store-modify">
            <button type="button" method="post" class="modify" onclick="location.href='{{ url_for('menu.modify', menu_id=menu.id) }}'; " >수정</button>
            <button type="button" method="post" class="delete" onclick="location.href='javascript:void(0)'; " data-uri="{{ url_for('menu.delete', menu_id=menu.id) }}" >삭제</button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if g.user == store.user %}
    <br>
    <br>
    <div class="menu-create">
        <button type="button" method="post" class="menu-btn" onclick="location.href='{{ url_for('menu.create_menu', store_id=store.id) }}'; " >메뉴 생성</button>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});


const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {

        if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
        };
    });
});


</script>
{% endblock %}