{% extends 'base.html' %}
{% block content %}
<div class="main-container">
    <table>
        {% if store_list %}
        {% for store in store_list %}
        <tr>
            <td>
                <div class="store" style="cursor: pointer;" onclick="location.href='{{ url_for('store.detail', store_id=store.id) }}';">
                    <label class="store-name">{{ store.store_name }}</label>
                    <br>
                    <br>
                    <label>최소주문 </label>
                    <label class="store-deliver">{{ store.min_order }}</label>
                    <label>원, 배달팁 </label>
                    <label class="store-deliver">{{ store.deliver }}</label>
                    <label>원</label>
                    <br>
                    <br>
                    <label class="store-intro">{{ store.store_intro }}</label>
                </div>
                <br>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3"><h1>텅</h1></td>
        </tr>
        {% endif %}
    </table>
<div><a class="bag" href="{{ url_for('my.bag') }}"><img src="https://ifh.cc/g/DtAA4w.png" width="80px" height="50%"/></a>
</div>
</div>
{% endblock %}
