*{
    box-sizing:border-box;
    font-family:"Noto Snas KR", sans-serif;
}

body {
    margin:0;
    background-color: #fafafa;
}

.container-fluid{
    background-color:#2AC1BC;
}
.radio{
    margin: 0 5px 0 40px;
}

.location{
    margin: 0 auto;
}

.my{
    justify-content : right;
}

.container {
    width:300px;
    border:0;
    border-radius:5px;
    background-color:#fafafa;
    padding:20px;
    margin-top:50px;
    /*margin:0 auto;*/
}

.container-fluid a {

}

.text-field {
    font-size:14px;
    margin-bottom:10px;
    border:none;
    border-radius:5px;
    padding:10px;
    width:100%;
}



.btn-login {
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    margin-top:15px;
    margin-bottom:20px;
    padding:10px;
    border:none;
    border-radius:5px;
    width:100%;
}

.btn-signup {
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    margin-top:15px;
    margin-bottom:20px;
    padding:10px;
    border:none;
    border-radius:5px;
    width:100%;
}

.links {
    text-align:center;
}

.links a {
    font-size:12px;
    color: #9b9b9b;
}

.links label {
    font-size:12px;
    color: #9b9b9b;
}

/* 메인 */


.menu{
    width:180px;
    height:150px;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    /*위 오 아 왼 */
    border-style: solid;
    border-color: #ebebeb;
/*    border-width: thin;
    text-align: center;*/
}

.menu-name{
    color:#747678;
    font-size:18px;
}

.menu-name2{
    color:#989a9c;
    font-size:13px;
}

.menu img{
    margin: 25px 10px 5px 100px;
}

table{
    margin: auto;
}

.store-create{
    display: flex;
    justify-content: center;
}

.store-btn{
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    margin: 50px 0 0 0;
    /*위 오 아 왼 */
    padding:10px;
    border:none;
    border-radius:5px;
    width:30%;
}

/*가게list*/

.store{
    width:1000px;
    height:150px;
    /*margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    위 오 아 왼 */
    margin:0 auto;
    border-style: solid;
    border-color: #ebebeb;
    background-color:#FFFFFF;
    box-shadow:1px 1px 10px grey;
}

.store-name{
    font-size:20px;
    font-weight: bold;
}

.store-deliver{
    font-size:15px;
}

.store-intro{
    font-size:14px;
    font-color:#989a9c;
}

.menu-list{
    width:1000px;
    height:150px;
    /*margin: 5px 10px 5px 10px;*/
    padding: 5px 5px 5px 5px;
    /*위 오 아 왼 */
    margin:0 auto;
    border-style: solid;
    border-color: #ebebeb;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
}

/*가게 디테일*/
.menu-create{
    display: flex;
    justify-content: center;
}

.menu-btn{
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    margin: 50px 0 0 0;
    /*위 오 아 왼 */
    padding:10px;
    border:none;
    border-radius:5px;
    width:30%;
}

.store-modify{
    display: flex;
    justify-content: center;
}

.delete{
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    border:none;
    border-radius:5px;
    width:60px;
    height:40px;
    margin: 0 10px 0 10px;
}
.modify{
    text-align:center;
    font-size:14px;
    background-color:#2AC1BC;
    color:#FFFFFF;
    border:none;
    border-radius:5px;
    width:60px;
    height:40px;
    margin: 0 10px 0 10px;
}