{% extends 'base.html' %}
{% block content %}
<div class="main-container">
<h5 class="hbag-list border-bottom pb-2">장바구니</h5>
    <!-- flash 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <!--가게-->

    <div style="cursor: pointer;">
        {% for menu in g.user.menu_buyer_set %}
        <div class="bag-list">
            <h4>{{ menu.menu_name }}</h4>
            <br>
            <label>가격 : </label>
            <label>{{ menu.price }}</label>
        </div>
        {% endfor %}
        <div style="margin-bottom:50px;"></div>
        <div style="margin:0 auto;">
        <h5 class="hbag-list border-bottom pb-2">합계</h5>
        <h4 class="hbag-list">{{ g.user.money }} 원</h4>
        </div>
    </div>
</div>

{% endblock %}
