{% extends "base.html" %}
{% block content %}
<div class="main-container">
    <table>
        <tr>
            <td> <div class="menu" style=" cursor: pointer;" onclick="location.href='{{ url_for('store._list') }}';">
                <label class="menu-name">한식</label>
                <br>
                <label class="menu-name2">Korean Food</label>
                <br>
                <img src="https://ifh.cc/g/n7QjYJ.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">중식</label>
                <br>
                <label class="menu-name2">Chinese Food</label>
                <br>
                <img src="https://ifh.cc/g/2KkMB5.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">일식</label>
                <br>
                <label class="menu-name2">Japanese Food</label>
                <br>
                <img src="https://ifh.cc/g/LNgNBk.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">분식</label>
                <br>
                <label class="menu-name2">Snack Menu</label>
                <br>
                <img src="https://ifh.cc/g/Oaaoy0.png"/>
            </div></td>
        </tr>
        <tr>
            <td> <div class="menu">
                <label class="menu-name">아시안</label>
                <br>
                <label class="menu-name2">Asian Food</label>
                <br>
                <img src="https://ifh.cc/g/MWXjOG.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">치킨</label>
                <br>
                <label class="menu-name2">Chicken</label>
                <br>
                <img src="https://ifh.cc/g/nFda4Y.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">피자</label>
                <br>
                <label class="menu-name2">Pizza</label>
                <br>
                <img src="https://ifh.cc/g/BHBSVC.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">도시락</label>
                <br>
                <label class="menu-name2">Lunch Box</label>
                <br>
                <img src="https://ifh.cc/g/lchJao.png"/>
            </div></td>
        </tr>
        <tr>
            <td> <div class="menu">
                <label class="menu-name">족발</label>
                <br>
                <label class="menu-name2">Pork Feet</label>
                <br>
                <img src="https://ifh.cc/g/8gMB36.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">디저트</label>
                <br>
                <label class="menu-name2">Desert</label>
                <br>
                <img src="https://ifh.cc/g/A7faQ6.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">패스트푸드</label>
                <br>
                <label class="menu-name2">Fast Food</label>
                <br>
                <img src="https://ifh.cc/g/ht68fh.png"/>
            </div></td>
            <td> <div class="menu">
                <label class="menu-name">야식</label>
                <br>
                <label class="menu-name2">Dawn Food</label>
                <br>
                <img src="https://ifh.cc/g/oWWW4V.png"/>
            </div></td>
        </tr>

    </table>
    {% if g.store %}
        <tr>
            <button type="button" class="store-btn" onclick="location.href='{{ url_for('my.create_store') }}' ">가게 생성</button>
        </tr>
    {% endif %}

</div>
{% endblock %}